<mat-card>
  <mat-card-title>Character Summary</mat-card-title>
  <mat-card-content>
    <mat-list>
      <h2 matSubheader>General</h2>
      <div id="summary-general" class="even-count">
        <mat-list-item>
          <mat-icon matListIcon>person</mat-icon>
          <h3 matLine>{{ characterService.character.level.title }}: {{ characterService.character.level.value }}</h3>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListIcon>favorite</mat-icon>
          <h3 matLine>{{ characterService.character.hp.title }}: {{ characterService.character.hp.value }}</h3>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListIcon>directions_run</mat-icon>
          <h3 matLine>Initiative Bonus: {{ characterService.character.initiative | positiveDecorator }}</h3>
        </mat-list-item>

        <mat-list-item matTooltip="AC: 10
          + 0 Armor
          + 0 Shield
          + {{ characterService.character.dexAbility.base10Mod }} Dex
          + 0 Size
          + 0 Natural
          + 0 Deflection
          + 0 Misc
          ">
          <mat-icon matListIcon>security</mat-icon>
          <h3 matLine>
            Armor Class: {{ characterService.character.ac }}
          </h3>
          <p matLine>Touch: {{ characterService.character.touchAc }}</p>
          <p matLine>Flat Footed: {{ characterService.character.flatFootedAc }}</p>
        </mat-list-item>
      </div>

      <mat-divider inset></mat-divider>

      <h2 matSubheader>Abilities</h2>
      <div id="summary-abilities" class="even-count">
        <mat-list-item>
          <h3 matLine>{{ characterService.character.strAbility.title }}: {{ characterService.character.strAbility.value }}</h3>
          <div class="modifier-large">{{ characterService.character.strAbility.base10Mod | positiveDecorator }}</div>
        </mat-list-item>

        <mat-list-item>
          <h3 matLine>{{ characterService.character.dexAbility.title }}: {{ characterService.character.dexAbility.value }}</h3>
          <div class="modifier-large">{{ characterService.character.dexAbility.base10Mod | positiveDecorator }}</div>
        </mat-list-item>

        <mat-list-item>
          <h3 matLine>{{ characterService.character.conAbility.title }}: {{ characterService.character.conAbility.value }}</h3>
          <div class="modifier-large">{{ characterService.character.conAbility.base10Mod | positiveDecorator }}</div>
        </mat-list-item>

        <mat-list-item>
          <h3 matLine>{{ characterService.character.intAbility.title }}: {{ characterService.character.intAbility.value }}</h3>
          <div class="modifier-large">{{ characterService.character.intAbility.base10Mod | positiveDecorator }}</div>
        </mat-list-item>

        <mat-list-item>
          <h3 matLine>{{ characterService.character.wisAbility.title }}: {{ characterService.character.wisAbility.value }}</h3>
          <div class="modifier-large">{{ characterService.character.wisAbility.base10Mod | positiveDecorator }}</div>
        </mat-list-item>

        <mat-list-item>
          <h3 matLine>{{ characterService.character.chaAbility.title }}: {{ characterService.character.chaAbility.value }}</h3>
          <div class="modifier-large">{{ characterService.character.chaAbility.base10Mod | positiveDecorator }}</div>
        </mat-list-item>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>
